<div class="name"><h1>Current Bands</h1></div>

<% @bands.each do |band| %>
    <div class="name"><h3><%= link_to "#{band.name}", band %></h3></div>
    <!-- <td><%= link_to 'Show', band %></td> -->
    <!-- <td><%= link_to 'Edit', edit_band_path(band) %></td> -->
    <!-- <td><%= link_to 'Destroy', band, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
<% end %>

<%= link_to 'New Band', new_band_path, class: "btn btn-default btn-lg" %> |
<%= link_to 'All Songs', songs_path, class: "btn btn-default btn-lg" %>